<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny roles="Paciente" />
        <deny roles="Medico" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
</configuration>
